ion-toolbar {
  //--background-color: #EE2A24;
  background-color: #EE2A24;
}

.logo {
  margin-top: 20px;
  max-width: 100% !important;
  height: 200px !important;
}

ion-text {
  text-align: center !important;
}

ion-text a {
  text-decoration: none !important;
}

ion-footer a {
  text-decoration: none !important;
}

ion-footer p {
  font-size: 12px;
}

ion-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}

.container {
  margin-bottom: 40px;
  text-align: center !important;
}

:host {
  --deckgo-qrcode-size: 300px;
  --deckgo-qrcode-color-fill: #000000;
}

@media (prefers-color-scheme: dark) {
  :host {
    --deckgo-qrcode-color-fill: #FFFFFF;
  }
}


#fileInput {
  display: none;
}


.container ion-icon {
  font-size: 300px;
}