<ion-content [fullscreen]="true" class="ion-padding">


  <div class="container">

    <ion-img class="logo" src="assets/icons/logo_app.png"></ion-img>
    <ion-text>
      <h1>
        <strong>
          chribbel
        </strong>
      </h1>
      <p>einfach Dokumente online Unterschreiben - einfach hochladen</p>
    </ion-text>

    <label for="fileInput" icon-only ion-button *ngIf="!qrCodeUrl">
      <ion-icon name="cloud-upload"></ion-icon>
    </label>
    <input type="file" (change)="uploadFile($event)" id="fileInput" />


    <div>{{ uploadPercent | async }}% hochgeladen</div>
    <a [href]="downloadURL | async">{{ downloadURL | async }}</a>
    <deckgo-qrcode content="{{qrCodeUrl}}" type="svg" cell-size="20"></deckgo-qrcode>
    <br>
    <ion-button (click)="validieren()">PDF Dokument validieren</ion-button>


  </div>

  <!--    </div>
    Footer without a border -->
  <ion-footer class="ion-no-border">
    <ion-toolbar>
      <!--<ion-title>Footer - No Border</ion-title>-->
      <ion-text color="primary">
        <p> <a href="https://schaffhausen.io/">
            <ion-icon name="heart"></ion-icon> schaffhausen.io
          </a> | <a href="https://eid-check.com">
            <ion-icon name="shield-checkmark"></ion-icon> eid-check.com
          </a> | <a href="https://github.com/sansan88/chribbel">
            <ion-icon name="logo-github"></ion-icon> github.com
          </a>
        </p>
      </ion-text>
    </ion-toolbar>
  </ion-footer>
</ion-content>